@font-face {
  font-family: 'Kelly Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Kelly Slab'), local('KellySlab-Regular'), url(Kelly.woff) format('woff'), url(http://themes.googleusercontent.com/static/fonts/kellyslab/v3/4A8U9DtmhklTRFOO_fzgaBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
body {
	background-color: #201f1f;
	/*background-color: #ccc;*/
	font-size: 16px;
    font-family:'Kelly Slab',Sans;
	/*text-align:center;*/
    padding:0;
    margin:0;
}
b {
	/*color: #222;*/
	color: #cccccc;
	font-size: 16pt;
}
i {
	color: #666;
	font-size: 10px;
	text-align: right;
}
button{
        font-family:'Kelly Slab',Sans;
}

.fl{
    float: left;
}

#progname{
    text-align:center;
}

.types button{
    float: none;
    display: block;
    width: 70px;
    padding: 1px 0 1px 0;
    margin: 0;
    border-color: white;
    color:white;
    text-transform:uppercase;
    text-shadow: 1px 1px #201f1f;
    font-weight: bold;
    opacity:0.8;
}

.types button:hover{
    opacity:1;
}

.types button.active1, .types button.active2{
    border-color: red;
    color:black;
    text-shadow: none;
    font-weight: bold;
    opacity:1;
}

.types{
    padding-top: 30px;
}

.container2{
    padding: 3px;
    width: 190px;
}

#demo{
    padding-left: 30px;
    padding-top: 5px;
    line-height: 140%;
}

#demo span{
    font-weight:bold;
    font-size:20px;
}

.None{
    /*background-color:#999;*/
}
.Bug{
    background-color: #A9B724;
}

.Dark{
    background-color: #6D5A4B;
}

.Dragon{
    background-color: #625DEF;
}

.Electric{
    background-color: #F0CE48;
}

.Fight{
    background-color: #AC4B1E;
}

.Fire{
    background-color: #DE863E;
}

.Flying{
    background-color: #A39DE7;
}

.Ghost{
    background-color: #6B5D9A;
}

.Grass{
    background-color: #8DC155;
}

.Ground{
    background-color: #DABD6F;
}

.Ice{
    background-color: #A5D4DA;
}

.Normal{
    background-color: #AAA57B;
}

.Poison{
    background-color: #92529E;
}

.Psychic{
    background-color: #EB6C87;
}

.Rock{
    background-color: #B79C41;
}

.Steel{
    background-color: #B6B6CE;
}

.Water{
    background-color: #6D97E9;
}

.Fairy{
    background-color: #FFAEC9;
}

.typename{
    width:100px;
    display:inline-block;
}
/*
.x0{
    color: #DB7373;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #ff0000, 0 0 7px #00ff00, 0 0 8px #ff00de;
}
.x025{
    color: #F0AC56;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #ffff00, 0 0 7px #ffaa00, 0 0 8px #ff00de;
}
.x05{
    color: #D5C764;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #ffff00, 0 0 7px #00ff00, 0 0 8px #ff00de;
}
.x1{
    color: #808080;
    text-shadow: 0px 1px 1px #4d4d4d;
}
.x2{
    color: #4FC74F;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #00ff00, 0 0 7px #00ff00, 0 0 8px #ff00de;
}
.x4{
    color: #5A93AD;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #0000ff, 0 0 7px #00ff00, 0 0 8px #ff00de;
}
*/
.x0{
    color: #DB7373;
}
.x025{
    color: #F0AC56;
}
.x05{
    color: #D5C764;
}
.x1{
    color: #808080;
}
.x2{
    color: #4FC74F;
}
.x4{
    color: #6ec6c2;
}

div.background{
    opacity:0;
    height:100%;
    width:100%;
    position:absolute;
    z-index:100;
    margin:0;
}
div.background.active1,div.background.active2{
    opacity:0.2;
}
div.background.active1.active2{
    opacity:0.4;
}
div.container{    
    height:100%;
    width:100%;
    position:absolute;
    z-index:200;
}
